.filter-btn {
  margin: 10px;
}

.filter-input {
  display: none;
}
.filter-label {
  color: var(--black);

  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.671);

  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  width: fit-content;
  padding: 5px 10px;
}
.filter-label:hover {
  background-color: var(--default2);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.filter-input:checked + .filter-label {
  background-color: var(--default2);
}
.clear-btn {
  background-color: var(--rick1);
  border: 1px solid var(--rick1);
  color: var(--black);

  padding: 10px 20px;
  border-radius: 25px;

  cursor: pointer;
}
.clear-btn:hover {
  background-color: var(--black);
  color: var(--rick1);
}
