.main {
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: ; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.card-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: flex-start;
}
