#root {
  color: #03ce99, #05d09e, #08dcb3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  position: relative;
}

.App {
  height: 100%;
  width: 100%;
  background-image: url(Assets/bgDefault.jpg);
  background-size: cover;
  background-position: fixed;
}
.App:before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  backdrop-filter: blur(10px);
}
